In [1]:
import numpy as np
import pandas as pd

In [7]:
data = {"k1":['FB','FB','MS','MS','FB','FB'], "k2": ['sm','ch','am','va','ca','sa'], 'k3':[12,33,22,12,33,33]}
data

{'k1': ['FB', 'FB', 'MS', 'MS', 'FB', 'FB'],
 'k2': ['sm', 'ch', 'am', 'va', 'ca', 'sa'],
 'k3': [12, 33, 22, 12, 33, 33]}

In [8]:
df= pd.DataFrame(data)
df

   k1  k2  k3
0  FB  sm  12
1  FB  ch  33
2  MS  am  22
3  MS  va  12
4  FB  ca  33
5  FB  sa  33

In [18]:
mycomp=df.groupby('k1').describe()